@page
@model Resturant.Pages.Account.ConfirmEmailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
<h3>@Model.Message</h3>
</body>
</html>
